/* Import font Noto Sans Japanese */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #101820;
}
.wrapper {
  /* background: whitesmoke; */
  width: 1000px;
  height: 600px;
  padding: auto;
  padding: 12px;
}
.wrapper .content-box {
  padding: 20px 13px 0;
}
.content-box .typing-test {
  max-height: 500px;
  overflow-y: auto;
}
.typing-test p {
  font-size: 30px;
  text-align: justify;
  letter-spacing: 1px;
  word-break: keep-all;
  color: #cf6bdd;
}
/* .typing-test p span.active {
  position: relative;
} */
.typing-test p span.correct {
  color: #eedaea;
}
.typing-test p span.incorrect {
  color: #ff5253;
}
/* typing-test p span.active {
  color: white;
} */
/* typing-test p span.active::before{
    content: "";
    width: 5px;
    height: 20px;
    background: #ec7fff;
    display: inline-block;
    color: whitesmoke;
} */
.content-box .content {
  display: flex;
  margin-bottom: 17px;
  width: 100%;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
}
.content button {
  border: none;
  outline: none;
  background: #cf6bdd;
  width: 110px;
  color: #101820;
  cursor: pointer;
  padding: 5px 0;
  font-size: 16px;
  border-radius: 15px;
  transition: transform 0.3s ease;
}
.content span.num {
  color: #eedaea;
}
.content button:active {
  transform: scale(0.9);
}
.content .result-details {
  display: flex;
  width: calc(100% - 140px);
  justify-content: space-between;
  list-style: none;
  color: #cf6bdd;
}
.typing-test::-webkit-scrollbar {
  width: 0;
}
.result-details li {
  height: 25px;
  display: flex;
  align-items: center;
}
.result-details li p {
  font-size: 20px;
}
.result-details li span {
  display: block;
  font-size: 25px;
  margin-left: 5px;
}
.result-details li b {
  font-weight: 500;
}
.input{
  color:#101820;
  background-color: #101820;
  border: none;
}
.input:focus{
  outline: none;
}
