/* Import font Noto Sans Japanese */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #101820;
}
.wrapper {
  /* background: whitesmoke; */
  width: 800px;
  padding: auto;
  padding: 12px;
}
.wrapper .content-box {
  padding: 20px 13px 0;
}
.content-box .typing-test {
  max-height: 255px;
  overflow-y: auto;
}
.typing-test p {
  font-size: 30px;
  text-align: justify;
  letter-spacing: 0.5px;
  word-break: break-all;
}
.content-box .content {
  display: flex;
  margin-bottom: 17px;
  width: 100%;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
}
.content button {
  border: none;
  outline: none;
  background: #eedaea;
  width: 110px;
  color: #101820;
  cursor: pointer;
  padding: 5px 0;
  font-size: 16px;
  border-radius: 15px;
  transition: transform 0.3s ease;
}
.content button:active{
    transform: scale(0.90);
}
.content .result-details {
  display: flex;
  width: calc(100% - 140px);
  justify-content: space-between;
  list-style: none;
}
.typing-test::-webkit-scrollbar {
  width: 0;
}
.result-details li {
  height: 25px;
  display: flex;
  align-items: center;
}
.result-details li p {
  font-size: 20px;
}
.result-details li span {
  display: block;
  font-size: 25px;
  margin-left: 5px;
}
.result-details li b {
  font-weight: 500;
}
